:root {
  --primary-color: #007bff;
  --text-color: #333;
  --secondary-text-color: #555;
  --background-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

.weather-container {
  margin: 30px auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  width: 90%; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px var(--box-shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.top {
  margin-bottom: 10px;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
}

.weather-description {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.weather-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(var(--primary-color), 0.3);
  grid-row: 1;
  grid-column: 2;
}

.bottom {
  margin-top: 15px;
  grid-row: 3;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 1fr;
}

.temp {
  font-size: 60px;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  grid-row: 1 / span 2;
  grid-column: 2;
}

.details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.param-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.param-label {
  font-size: 14px;
  color: var(--secondary-text-color);
  text-align: left;
}

.param-value {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-align: right;
}

@media only screen and (min-width: 769px) {
  .weather-container {
    grid-template-columns: 1fr 1fr; 
    padding: 10px;
    width: 450px;
    box-sizing: border-box; 
  }
}

/* Adjustments for mobile phones */
@media only screen and (max-width: 768px) {
  .weather-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .top {
    margin-bottom: 5px;
  }

  .city {
    font-size: 24px;
  }

  .weather-description {
    font-size: 14px;
  }

  .weather-icon {
    width: 60px;
    height: 60px;
  }

  .temp {
    font-size: 40px;
  }

  .param-label {
    font-size: 12px;
  }

  .param-value {
    font-size: 14px;
  }
}


.param-row:nth-child(even) {
  background-color: #f5f5f5;
}
